<div class="content-heading">
    <div>Manage State of File Submissions
        <small>Standard and custom elements for any form</small>
    </div>
</div>
<!-- START card-->
<div class="card card-default">
    <div class="card-header">
        <H2>Submission Picker</H2>
    </div>
    <div class="card-body">
        <h4>Select Cycle</h4>
        <select id="cycle" (change)="selectedCycle($event.target.value)" [value]="currCycle">
            <option value="default">select a cycle</option>
            <option *ngFor="let currCycle of cycles">
                {{currCycle}}
            </option>
        </select>
        <BR><BR>
        <h4>Select File Type</h4>
        <select id="fileType" (change)="selectedFileType($event.target.value)">
            <option value="default">select a file type</option>
            <option *ngFor="let currFileType of fileTypes" [value]="currFileType.fileTypeId">
                {{currFileType.fileTypeName}}
            </option>
        </select>
        <BR><BR>
        <h4>Select Program</h4>
        <select id="program" (change)="selectedProgram($event.target.value)">
            <option value="default">select a program</option>
            <option *ngFor="let currProgram of programs" [value]="currProgram.programId">
                {{currProgram.programName}}
            </option>
        </select>
        <BR><BR>
        <div *ngIf="program !== 'default' && fileType !== 'default'">
            <H4>Link to Excel File</H4>
            <A href="#" (click)="retrieveSubmission()">Download Submission Data</A>
        </div>
    </div>
</div>
<div *ngIf="program !== 'default' && fileType !== 'default,">
    <div class="col-lg-9">
        <div class="card-header">
            <H2>Manage Workflow State</H2>
        </div>
        <div class="card-body">
            <H4>Completed State(s):</H4>
            <ul *ngFor="let currStateItem of currWorkflowStates">
                <li>{{ currStateItem.subStateName }}</li>
            </ul>
            <H4>Next Available States:</H4>
            Note that in current implementation, moving a File Submission
            back to "DRAFT" state is the executing a "Change Order".<BR><BR>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div *ngFor="let nextStateItem of nextWorkflowStates">
                    <button class="btn btn-info btn-sm" [type]=button (click)="setWorkflowState(nextStateItem.stateId)">
                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="program !== 'default' && fileType !== 'default">
    <div class="card-header">
        <H2>Comments</H2>
        <div class="card-body">
            <button class="btn btn-info btn-sm" *ngIf="!showAddComment" [type]=button
                (click)="showAddCommentSection()">Add Comment</button><BR>
            <div *ngIf="showAddComment">
                <form [formGroup]="commentForm" name="commentForm" (ngSubmit)="createComment(commentForm.value)">
                    <textarea rows=10 cols=60 id="comment" formControlName="comment"></textarea><BR>
                    <button class="btn btn-info btn-sm" [type]=button (click)="hideAddCommentSection()">Cancel</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-info btn-sm" [type]=submit>Save</button>
                </form>
            </div>
            <BR>
            <div *ngFor="let comment of comments">
                <B>{{ comment.usernameDisplay }}</B> / {{comment.createdDate }}<BR>
                {{ comment.comment }}<BR>
                <HR width=900 align=center><BR>
            </div>
            <div class="card-header">
                <H2>Latest Validation Status</H2>
            </div>
            <div class="card-body">
                <div>
                    <H4>Upload Response:</H4>
                    <div *ngIf="validationStatus">
                        <ul *ngFor="let statusMessage of validationStatus">
                            <li>{{ statusMessage }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <H2>Workflow State Changes</H2>
            </div>
            <div class="card-body">
                <div *ngFor="let stateChange of stateChanges">
                    <B>{{ stateChange.usernameDisplay }}</B> /
                    {{stateChange createdTimestampString }}<BR>
                    {{ stateChange.display }}<BR>
                    <HR width=900 align=center><BR>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END card-->
