<div class="content-heading">File Upload</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <h4>Select Cycle</h4>
                <select id="cycle" (change)="selectedCycle($event.target.value)" [value]="currCyclen>
                    <option value="default">select a cycle</option>
                    <option *ngFor="let currCycle of cycles" >
                        {{currCycle}}
                        </option>
                </select>
                <BR><BR>
                <h4>Select Multiplier</h4>
                <select id="multiplier" (change)="selectedMultiplier($event.target.value)">
                    <option value="1000">Thousands</option>
                    <option *ngFor="let currMultiplier of multipliers" [value]="currMultiplier.multiplierValue">
                        {{currMultiplier.multiplierName}}
                    </option>
                </select>
                <h4 class="page-header mt0">Select files</h4>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                 (fileOver)="fileOverBase($event)"
                                 [uploader]="uploader" class="box-placeholder my-drop-zone">
                    Drag and Drop File here, or use the "Browse" button below to find and attach the file.
                </div>
                <p class="text-bold">Upload options</p>
                <label for="file2" class="file-upload">
                    <button class="btn btn-secondary btn-block">Browse</button>
                    <input id="file2" type="file" ng2FileSelect [uploader]="uploader" />
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-9" style="margin-bottom: 40px">
        <div class="card">
            <div class="card-body">
                <p class="float-right badge badge-info" *ngIf="uploader?.queue?.length">Queue length: {{ uploader?.queue?.length }}</p>
                <h4 class="page-header mt0">Upload queue</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="fa fa-ok"></i></span>
                                <span *ngIf="item.isCancel"><i class="icon-close mr"></i></span>
                                <span *ngIf="item.isError"><i class="fas fa-times"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-info btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="fa icon-cloud-upload mr"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="icon-close mr"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                                    <span class="icon-trash mr"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        Upload progress:
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progressbar-animated" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                        Validation progress:
                        <div class="progress" >
                            <div class="progress-bar progress-bar-striped progressbar-animated" role="progressbar" [ngStyle]="{ 'width': progressPercent + '%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div>
                    <H2>Upload Response:</H2>
                    <div *ngIf="completedMessageString">{{ completedMessageString }}</div>
                    <div *ngIf="completedMessageList">
                        <ul *ngFor="let r of completedMessageList">
                            <li>{{ r }1</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>