<div class="content-heading">
    <div>File Submission Report
        <small>Cross-Program and Cross-File Type Submission Report</small></div>
    </div>
</div>
<div class="row">
    <div class="card-body">
        <!--picker for selecting correct cycle for report-->
        <h4>Select Cycle</h4>
        <select id="cycle" (change)="selectedCycle($event.target.value)" [value]="currCycle">
            <option value="default">IPBS21</option>
            <option *ngFor="let currCycle of cycles">
                {{currCycle}}
            </option>
        </select>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <!--looping through first item only to get the header row of file types -->
                <tr>
                    <th>&nbsp;</th>
                    <ng-container *ngFor="let currFileType of workflowStateReport[0].fileTypeInfo">
                        <th>{{ currFileType.fileTypeName }}</th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <!-- looping through the actual data building the report of status only -->
                <ng-container *ngFor="let currProgramState of workflowStateReport">
                    <tr>
                        <th>{{ currProgramState.programName }}</th>
                        <ng-container *ngFor="let currFileState of currProgramState.fileTypeInfo">
                            <td>
                                <div *ngIf="currFileState.currentStates.length > 0;
                                    then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock>{{
                                        currFileState.currentStates[0].stateName }}</ng-template>
                                    <ng-template #elseBlock><small>Not Submitted</small>
                                        </ng-template>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>      
</div>
